<main class='p-5'>
  <div class='card p-5 first'>
    <p>Hello world!</p>

    <p hidden id='test'>
      Hello world!
    </p>

    <span class='test'>Test</span>
  </div>

  <div class='card p-5 m-5 card-dark'>
    <p class='big-text'>10 This is a big text about
      something interesting 99. 33 This is a big text about
      something interesting 728. 3/12 This is a big text
      about something interesting</p>
  </div>
  <div style='background: gray;'>
    <span class='block'>12321321 qwqnkjxbcklb</span>
    <span>Test</span>
    <span>Test</span>
    <span>Test</span>
  </div>
</main>