<div class='page'>
  <div class='page_content'>
    <header class='header row g-0'>
      <div class='header_logo col-3'>
        <span class='badge text-bg-primary'>L</span>
      </div>

      <nav class='header_nav col-9'>
        {{> nav list=header isVertical=true}}

		{{> nav list=header}}
      </nav>
		
    </header>
    <hr class='divider' />
  </div>
</div>