@layer normalize, block, element, mod, adaptive;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300;1,700;1,900&display=swap');

body {
	background-color: var(--color-white);
}

:root {
	--color-white: #ffffff;
	--color-black: #000;
	--color-gray: rgba(255, 255, 255, 0.7);
	--color-light-gray: rgba(0, 0, 0, 0.7);
	
	--color-primary: #0D6EFD;
	--color-light: #CED4DA;
	
	--color-background: #EFEFF4;
	--color-background-dark: #212529;
	--color-background-additional: rgba(255, 255, 255, 1);

	--color-blue-light: #008BE1;
	--color-blue-dark: #0068BC;

	--color-yellow-light: #FFF8E3;
	--color-yellow-dark: #FFBF35;

	--color-purple-light: #5B39AD;
	--color-purple-dark: #402B9C;

	--color-success: #00801B;
	--color-warning: #F51B2A;

	--spacing-1: 8px;
	--spacing-2: 12px;
	--spacing-3: 16px;
	--spacing-4: 20px;
	--spacing-5: 24px;
	--spacing-6: 28px;
	--spacing-7: 32px;
	--spacing-8: 36px;
	--spacing-9: 40px;

	--size-1: 14px;
	--size-2: 16px;
	--size-3: 20px;
	--size-4: 24px;
	--size-5: 28px;
	--size-6: 32px;

	--radius-1: 4px;

	--opacity-1: 0.7;
	--opacity-2: 0.3;
	--transition-1: 0.7;

	--line-height: 1.5em;
}

@layer block {
	.page {
		background-color: var(--color-background);
		width: 100%;
		min-height: 100vh;
	}
	
	.main {
		padding: var(--spacing-9);
		display: grid;
		gap: var(--spacing-9);
	}

	.vertical {
		display: grid;
		gap: var(--spacing-5);
	}

	.aside {
		padding: var(--spacing-5);
		background-color: var(--color-background-dark);

		align-content: flex-start;
	}

	.icon {
		display: block;
		background-repeat: no-repeat;
		background-position: center center;
	}

	.nav-button {
		display: flex;
		align-items: center;
		gap: var(--spacing-1);
		text-decoration: none;
		padding: var(--spacing-2);
		border-radius: var(--radius-1);
	}

	.text {
		font-family: "Roboto", sans-serif;
		color: var(--color-black);
		font-size: var(--size-2);
	}

	.click {
		transition: opacity var(--opacity-1);
		cursor: pointer;
	}

	.click:hover {
		opacity: var(--opacity-1);
	}

	.click:active {
		opacity: var(--opacity-2);
	}

	.header {
		background-color: var(--color-white);
		padding: var(--spacing-2);
	}

	.layout {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-9);

		width: 100%;
		max-width: 1300px;
		margin: 0 auto;
	}

	.field {
		min-height: 36px;
		border: 1px solid var(--color-light);
		padding: 0 var(--spacing-2);
		border-radius: var(--radius-1);
	}

	.box {
		background-color: var(--color-white);
		padding: var(--spacing-5);
		border-radius: 16px;
	}

	.analytic {
		border-radius: 8px;
		padding: var(--spacing-5);

		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
	}

	.relative {
		position: relative;
	}

	.purchase-list {
		background-color: var(--color-background-additional);
		border-radius: 16px;
		padding: var(--spacing-5);
		gap: var(--spacing-5);

		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;

		width: 100%;
		max-width: 810px;

		height: 340px;
	}

	.divider {
		border: 1px solid rgba(206, 212, 218, 1);
		width: 100%;
	}

	.payment {
		background-color: var(--color-background-additional);
		border-radius: 16px;
		padding: var(--spacing-5);
		gap: var(--spacing-2);

		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;

		width: 100%;
		max-width: 470px;

		height: 620px;
	}
}

@layer element {
	.page__aside {
		grid-row: 1 / 3;
	}
	
	.aside__logo {
		color: var(--color-white);
		font-size: var(--size-4);
		padding-bottom: var(--spacing-5);

		border-bottom: 1px solid rgba(255, 255, 255, 0.25);
	}

	.nav-button__icon {
		height: 16px;
		width: 16px;
	}

	.header__content {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.header__search {
		width: 100%;
		max-width: 30%;
		min-width: 180px;
		background-color: #F8FAFC;
	}

	.header__icon-search {
		height: 20px;
		width: 20px;
		position: absolute;
		top: calc(50% - (20px / 2));
		left: var(--spacing-2);
	}

	.field__select {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		cursor: pointer;
	}

	.analytic__block {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}

	.analytic__button {
		height: 44px;
		width: 44px;
	}

	.analytic__title {
		font-size: var(--size-6);
	}

	.analytic__arrow {
		height: 20px;
		width: 20px;
		position: absolute;
		top: 0;
		left: calc(100% + var(--spacing-1));
	}

	.analytic__right {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.header_icon_list {
		display: flex;
		justify-content: space-between;
		height: var(--spacing-7);
		width: 100%;
		max-width: 133px;
	}

	.header_icon-right {
		height: var(--spacing-7);
		width: var(--spacing-7);
	}

	.purchase__details {
		display: flex;
		flex-direction: row;
	}

	.purchase__block-one {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);

		width: 100%;
	}

	.purchase__block-two {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);

		width: 100%;
	}

	.payment__with {
		display: flex;
		flex-direction: column;
	}

	.payment__input {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: var(--spacing-5);

		width: 100%;
	}

	.payment__input-block {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		
		gap: var(--spacing-1)
	}

	.country__select {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		
		gap: var(--spacing-5);

		width: 100%;
	}

}


@layer mod {
	.page--dashboard {
		display: grid;
		grid-template-columns: 280px 1fr;
		grid-template-rows: min-content 1fr;
	}

	.text--light {
		color: var(--color-white);
	}

	.text--heading {
		font-size: var(--size-4);
		color: var(--color-background-dark);
		font-weight: 500;
	}

	.text--small {
		font-size: var(--size-1);
	}

	.text--gray {
		color: var(--color-gray);
	}

	.text--light-gray {
		color: var(--color-light-gray);
	}

	.text--line {
		line-height: var(--line-height);
	}

	.text--bold {
		font-weight: 500;
	}

	.text--success {
		color: var(--color-success);
	}

	.text--warning {
		color: var(--color-warning);
	}

	.vertical--small {
		gap: var(--spacing-2);
	}

	.nav-button--active {
		background-color: var(--color-primary);
	}

	.field--header {
		padding-left: 44px;
		padding-right: 44px;
		width: 100%;
		height: 52px;
	}

	.field--header::placeholder {
		color: #BDBDBD;
	}

	.icon--header-settings {
		height: 28px;
		width: 28px;
		position: absolute;
		top: calc(50% - (20px / 2));
		right: var(--spacing-2);
	}

	.icon--button {
		border-radius: var(--radius-1);
	}

	.icon--color-blue {
		background-color: var(--color-blue-dark);
	}

	.icon--payment-block-settings {
		height: 12px;
		width: 12px;
		position: absolute;
		top: calc(50% - (12px / 2));
		right: var(--spacing-2);
	}

	.field--select {
		display: flex;
		align-items: center;
	}

	.analytic--double {
		grid-row: 1 / 3;
	}

	.analytic--blue-light {
		background-color: var(--color-blue-light);
	}

	.analytic--blue-right-top {
		background-color: rgba(0, 139, 225, 1);
	}

	.analytic--purple-light {
		background-color: var(--color-purple-light);
	}

	.analytic--gray-right-bottom {
		background-color: var(--color-background-additional);
		border: 1px solid rgba(224, 228, 232, 1);
	}

	.field--payment {
		width: 100%;
		max-width: 200px;
	}

	.button--payment {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
	}
}

@layer adaptive {
	@media all and (width <= 1000px) {
		.page--dashboard {
			grid-template-columns: 1fr;
		}

		.aside {
			display: none;
		}

		.header {
			display: none;
		}
	}
}